h2 {
  color: #49322a;
  font-size: 20px;
  text-align: center;
  font-family: fantasy;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
}

.heading{
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #f1e5e1;
  height: 550px;
  width: 450px;
  margin:auto;
}

form {
    font-size: 15px;
    font-family: fantasy;

}

input[type="submit" i] {
  background-color: #80584a;
  color: white;
  border-color: #80584a;
  border-width: thick;
  margin-left: 60px;
}
